.containerImgAdministration{
    display: flex;
    background-color: #eeeef1 ;
    border-radius: 7px;
    align-items: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imgAdministration{
    display: flex;
    align-items: center;
}
.svgImagesAdmin{
    width: 44px;
    height: 65px;
    margin-top: 20px;
}