.divCategorias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    
}
.containerCategorias{
    display: flex;
    justify-content: center;
    
}
@media (max-width: 768px) {
    .containerCategorias{
        width: 101vw;
    }
    .containerCategorias{
        justify-content: end;
        height: 59vh;
    }
    .divCategorias{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
  }
  @media (max-width: 480px) {
    .containerCategorias{
        width: 164vw;
        display: flex;
        justify-content: center;
        height: 160vh;
    }
    .divCategorias{
        display: flex;
        flex-direction: column;
        
    }
  }